node_modules
local/*.js
local/*.js.map
local/*/*.js
local/*/*.js.map
local/input/*
!local/input/note.txt
local/output/*
!local/output/note.txt
local/images/*
!local/images/note.txt
notes/*
public/bundle.js